/**
 * Reset some basic elements
 */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #57483C;
  background-color: #fdfdfd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * Set `margin-bottom` to maintain vertycal rhythm
 */
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ol,
ul {
  margin-left: 30px; }

li > ol,
li > ul {
  margin-bottom: 0; }

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #57483C;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  margin-top: 15px;
  letter-spacing: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
code,
pre {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 90%; }
  @media screen and (max-width: 1680px) {
    .wrapper {
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #57483C;
    line-height: 1.5; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  height: 5em; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 1680px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282;
  text-align: left; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: bold;
  color: #111 !important; }
  @media screen and (max-width: 1680px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 1680px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 1680px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 1680px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Tags
 */
.highlight {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  margin: 20px 0 20px 0;
  overflow: hidden; }

code {
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace; }

.highlight pre {
  overflow-wrap: break-word;
  overflow-x: break-word; }

.highlight .c {
  color: #586E75; }

/* Comment */
.highlight .err {
  color: #93A1A1; }

/* Error */
.highlight .g {
  color: #93A1A1; }

/* Generic */
.highlight .k {
  color: #859900; }

/* Keyword */
.highlight .l {
  color: #93A1A1; }

/* Literal */
.highlight .n {
  color: #93A1A1; }

/* Name */
.highlight .o {
  color: #859900; }

/* Operator */
.highlight .x {
  color: #CB4B16; }

/* Other */
.highlight .p {
  color: #93A1A1; }

/* Punctuation */
.highlight .cm {
  color: #586E75; }

/* Comment.Multiline */
.highlight .cp {
  color: #859900; }

/* Comment.Preproc */
.highlight .c1 {
  color: #586E75; }

/* Comment.Single */
.highlight .cs {
  color: #859900; }

/* Comment.Special */
.highlight .gd {
  color: #2AA198; }

/* Generic.Deleted */
.highlight .ge {
  color: #93A1A1;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #DC322F; }

/* Generic.Error */
.highlight .gh {
  color: #CB4B16; }

/* Generic.Heading */
.highlight .gi {
  color: #859900; }

/* Generic.Inserted */
.highlight .go {
  color: #93A1A1; }

/* Generic.Output */
.highlight .gp {
  color: #93A1A1; }

/* Generic.Prompt */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #CB4B16; }

/* Generic.Subheading */
.highlight .gt {
  color: #93A1A1; }

/* Generic.Traceback */
.highlight .kc {
  color: #CB4B16; }

/* Keyword.Constant */
.highlight .kd {
  color: #268BD2; }

/* Keyword.Declaration */
.highlight .kn {
  color: #859900; }

/* Keyword.Namespace */
.highlight .kp {
  color: #859900; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #268BD2; }

/* Keyword.Reserved */
.highlight .kt {
  color: #DC322F; }

/* Keyword.Type */
.highlight .ld {
  color: #93A1A1; }

/* Literal.Date */
.highlight .m {
  color: #2AA198; }

/* Literal.Number */
.highlight .s {
  color: #2AA198; }

/* Literal.String */
.highlight .na {
  color: #93A1A1; }

/* Name.Attribute */
.highlight .nb {
  color: #B58900; }

/* Name.Builtin */
.highlight .nc {
  color: #268BD2; }

/* Name.Class */
.highlight .no {
  color: #CB4B16; }

/* Name.Constant */
.highlight .nd {
  color: #268BD2; }

/* Name.Decorator */
.highlight .ni {
  color: #CB4B16; }

/* Name.Entity */
.highlight .ne {
  color: #CB4B16; }

/* Name.Exception */
.highlight .nf {
  color: #268BD2; }

/* Name.Function */
.highlight .nl {
  color: #93A1A1; }

/* Name.Label */
.highlight .nn {
  color: #93A1A1; }

/* Name.Namespace */
.highlight .nx {
  color: #555; }

/* Name.Other */
.highlight .py {
  color: #93A1A1; }

/* Name.Property */
.highlight .nt {
  color: #268BD2; }

/* Name.Tag */
.highlight .nv {
  color: #268BD2; }

/* Name.Variable */
.highlight .ow {
  color: #859900; }

/* Operator.Word */
.highlight .w {
  color: #93A1A1; }

/* Text.Whitespace */
.highlight .mf {
  color: #2AA198; }

/* Literal.Number.Float */
.highlight .mh {
  color: #2AA198; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #2AA198; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #2AA198; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #586E75; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #2AA198; }

/* Literal.String.Char */
.highlight .sd {
  color: #93A1A1; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #2AA198; }

/* Literal.String.Double */
.highlight .se {
  color: #CB4B16; }

/* Literal.String.Escape */
.highlight .sh {
  color: #93A1A1; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #2AA198; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #2AA198; }

/* Literal.String.Other */
.highlight .sr {
  color: #DC322F; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #2AA198; }

/* Literal.String.Single */
.highlight .ss {
  color: #2AA198; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #268BD2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268BD2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #268BD2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #268BD2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #2AA198; }

/* Literal.Number.Integer.Long */
body {
  background-color: #ffffff;
  background-repeat: repeat;
  height: 100%; }

p {
  font-family: 'Nunito' !important;
  font-weight: 300; }

@media screen and (max-width: 600px) {
  .wrapper {
    max-width: 94%; } }
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: 94%; } }

.links {
  text-align: center; }

.links a {
  display: block;
  text-align: right;
  font-size: 1.5em;
  color: #A5A5A5;
  text-transform: uppercase;
  margin-right: 1em;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  transition-duration: 1.5s;
  font-weight: bold; }
  .links a:hover {
    text-decoration: none;
    color: #f7f7f7;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s; }
  @media screen and (max-width: 600px) {
    .links a {
      display: inline-block;
      margin-right: 0.3em;
      margin-left: 0.3em;
      width: auto !important;
      text-align: center;
      font-size: large; } }
  @media screen and (max-width: 800px) {
    .links a {
      display: inline-block;
      margin-right: 0.3em;
      margin-left: 0.3em;
      width: auto !important;
      text-align: center;
      font-size: larger; } }

.sidebar {
  width: 20em;
  background-image: url("/images/sidebar.jpg");
  height: 100%;
  position: fixed;
  color: #A5A5A5;
  font-size: medium; }
  @media screen and (max-width: 600px) {
    .sidebar {
      width: 100%;
      height: 15em;
      position: static;
      background-size: 100% 100%;
      background-image: url("/images/horizontal-sidebar.jpg"); } }
  @media screen and (max-width: 800px) {
    .sidebar {
      width: 100%;
      height: 15em;
      position: static;
      background-size: 100% 100%;
      background-image: url("/images/horizontal-sidebar.jpg"); } }

.page-content {
  float: left;
  margin-right: 1.5em;
  margin-left: 21.5em;
  text-align: justify;
  min-height: 70vh;
  max-width: 80%; }
  @media screen and (max-width: 600px) {
    .page-content {
      margin-right: 1.5em;
      margin-left: 1.5em;
      max-width: 65%; } }
  @media screen and (max-width: 800px) {
    .page-content {
      margin-right: 1.5em;
      margin-left: 2.5em;
      max-width: 85%; } }
  .page-content p {
    font-size: 1.2em;
    color: #57483C; }

footer.site-footer {
  float: left;
  margin-left: 21.5em; }
  @media screen and (max-width: 600px) {
    footer.site-footer {
      margin-left: 0; } }
  @media screen and (max-width: 800px) {
    footer.site-footer {
      margin-left: 0; } }

#profile-picture {
  text-align: center; }
  #profile-picture img {
    margin-top: 3em; }
    @media screen and (max-width: 600px) {
      #profile-picture img {
        margin-top: 1em;
        width: 75px;
        height: 750px; } }
    @media screen and (max-width: 800px) {
      #profile-picture img {
        margin-top: 1em;
        width: 75px;
        height: 75px; } }

.quotes {
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  transition-duration: 1.5s;
  margin-right: 1.5em;
  margin-left: 1em;
  text-align: right; }
  @media screen and (max-width: 600px) {
    .quotes {
      display: none; } }
  @media screen and (max-width: 800px) {
    .quotes {
      display: none; } }
  .quotes:hover {
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s;
    text-decoration: none;
    color: #fff; }

.social-icons {
  text-align: center;
  margin: 1.5em 0.3em; }
  @media screen and (max-width: 600px) {
    .social-icons {
      margin: 0; } }

.profile-caption {
  text-align: center;
  font-weight: bold;
  margin: 1.5em 1em 1em; }
  @media screen and (max-width: 600px) {
    .profile-caption {
      margin-top: 0; } }
  @media screen and (max-width: 800px) {
    .profile-caption {
      margin-top: 0; } }

#disqus_thread {
  margin-right: 1.5em;
  margin-left: 1.5em; }

a.tag {
  background: #828282;
  color: white;
  font-weight: bold;
  padding: 3px 5px 6px 5px;
  margin: 3px;
  border-radius: 3px; }
  a.tag:hover {
    text-decoration: none;
    color: white;
    background-color: #989898; }

.fa-tags + a.tag {
  margin-left: 6px; }

.fa-calendar + span {
  margin-left: 3px; }

.profile-caption,
.quotes {
  font-size: larger;
  cursor: default; }
  @media screen and (max-width: 600px) {
    .profile-caption,
    .quotes {
      font-size: 12px; } }
  @media screen and (max-width: 800px) {
    .profile-caption,
    .quotes {
      font-size: 14px; } }

.post-content {
  font-size: larger; }

.post-list {
  color: #111; }

a.post-link {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #111;
  font-size: 36px; }
  a.post-link:hover {
    text-decoration: none;
    color: #502d1c;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s; }

a.read-more {
  margin: 0.4em;
  color: #dc4126;
  border-radius: 0.3em;
  font-weight: bold;
  font-family: Nunito;
  font-size: 0.9em; }
  a.read-more:hover {
    text-decoration: none;
    color: #e36752; }

.prev-button,
.next-button {
  font-size: 1.2em;
  color: #dc4126 !important;
  text-transform: uppercase;
  vertical-align: middle; }

.next-button {
  float: right; }

a.prev-button:hover,
a.next-button:hover {
  text-decoration: none;
  color: #e36752 !important; }

.tag-year {
  font-size: 2.1em; }

li.tag-item {
  list-style: none;
  display: block;
  margin-bottom: 30px; }
  li.tag-item .post-link {
    margin-bottom: 15px;
    font-size: 1.8em; }
  li.tag-item .post-meta {
    font-size: 1em; }

.soc {
  margin: 0;
  padding: 0;
  list-style: none; }

.soc li {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.soc li a {
  font-family: si !important;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  width: 36px;
  line-height: 36px;
  font-size: 19px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-right: 10px;
  color: #ffffff;
  background-color: #262528; }

.soc a:hover {
  z-index: 2;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px); }

.soc-icon-last {
  margin: 0 !important; }
