---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta"><i class="fa fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • <i class="fa fa-user"></i> {{ post.author }}{% endif %}{% if post.tags %} • <i class="fa fa-tags"></i> {% for tag in post.tags %} <a href="/tags/{{ tag }}" class="tag">{{ tag }}</a> {% endfor %}{{ page.meta }}{% endif %}</p>
        <p class="post-content">{{ post.excerpt | strip_html }}<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Read More</a></p>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="prev-button">&laquo; Newer Posts</a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next-button">Older Posts &raquo;</a>
      {% endif %}
    </div>
  {% endif %}
</div>
