<section class="grid grid__books_i_read books-i-read">
  <div class="books-i-read__image-of-me">
    <picture>
      <source srcset="/assets/images/me-02.webp" type="image/webp">
      <img src="/assets/images/me-02.png" alt="Picture of Tsara">
    </picture>
    <div class="books-i-read__image-shadow"></div>
  </div>
  <div class="books-i-read__content">
    <h2>Books I Read</h2>
    <ul>
      <li>Al-Quran</li>
      <li>Practical Object-Oriented Design in Ruby: An Agile Primer</li>
      <li>Ruby Science</li>
      <li>Secrets of the JavaScript Ninja</li>
      <li>You Don't Know JS</li>
    </ul>
  </div>
</section>
