<footer>
  <div class="grid grid__footer footer-top">
    <div class="footer footer__about-me">
      <h2>About Me</h2>
      <p>
        I am a mom, a wife, and also a programmer who is trying to improve and
        spread good things for others.
      </p>
      <p>
        Thank you for my husband who helped me designing this website.
      </p>
    </div>
    <div class="footer footer__quick-links">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
    <div class="footer footer__find-me">
      <h2>Connect With Me On</h2>
      <ul>
        <li><a href="https://github.com/tsara27" target="__blank">Github</a></li>
        <li><a href="http://instagram.com/tsara27" target="__blank">Instagram</a></li>
        <li><a href="https://www.linkedin.com/in/tsarasudrajat/" target="__blank">LinkedIn</a></li>
        <li><a href="mailto:tsara.tf@gmail.com?Subject=Hello%20Tsara!">Email</a></li>
      </ul>
    </div>
  </div>
  <div class="grid grid__footer-bottom">
    <div class="footer-bottom footer-bottom__created-at">
      <p>2019 tsarafatma.co</p>
      <img src="/assets/images/icons/dots.svg" />
    </div>
    <div class="footer-bottom footer-bottom__sign">
      <p class="sign">Tsara Fatma</p>
    </div>
  </div>
</footer>
