<header>
  {% include components/navigation.html %}
  <section class="grid grid__hero hero hero__caption">
    <div class="hero hero__caption">
      <h1>Tsara Fatma</h1>
      <div class="about-me-text">
        <p>
          I am a full stack Ruby on Rails developer with more than 4 years
          experience and have contributed/developed various web application and RESTful API.
          I have worked with many clients around the world and helped building and
          maintaining various products.
        </p>
        <p>
          If you need someone to help you building your product, please
          get in touch with me.
        </p>
      </div>
      {% include components/get_in_touch_button.html %}
    </div>
    <div class="hero hero__image">
      <picture>
        <source srcset="/assets/images/me-01.webp" type="image/webp">
        <img src="/assets/images/me-01.png" alt="Picture of Tsara">
      </picture>
    </div>
  </section>
</header>
