<div class="sidebar">
  <div id="profile-picture">
    <img src="/images/ruby-256.png" height="125" width="125"></img>
  </div>
  <div class="profile-caption">
    I am Tsara | A Wife | Ruby on Rails Developer | Moslem
  </div>
  <div class="links">
    <a href="/">Home</href>
    <a href="#">Blog</href>
    <a href="/new_to_ruby/">New to Ruby?</href>
    <a href="/about/">About</href>
  </div>
  <blockquote class="quotes">“Simple can be harder than complex: You have to work hard to get your thinking clean to make it simple. But it’s worth it in the end because once you get there, you can move mountains.” - Steve Jobs</blockquote>
  <div class="social-icons">
    <ul class="soc">
      <li><a class="soc-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a></li>
      <li><a class="soc-facebook" href="https://www.facebook.com/{{ site.facebook_username }}"></a></li>
      <li><a class="soc-google" href="https://plus.google.com/{{ site.google_plus_username }}"></a></li>
      <li><a class="soc-linkedin soc-icon-last" href="https://id.linkedin.com/pub/{{ site.linkedin_username }}"></a></li>
    </ul>
  </div>
</div>