.post-list-container {
  margin: 75px;
  .post-box {
    &__image {
      // align-self: center;
      height: 320px;
    }

    &__caption {
      align-self: center;
      color: $light-dove-gray;
    }

    &__caption picture {
      padding: 5px;
      vertical-align: middle;
    }

    &__content {
      position: relative;
    }

    &__content hr {
      background: $light-gray;
      border: none;
      height: 1px;
      width: 100%;
    }

    &__content h2 {
      font-size: 35px;
      margin: 0;
    }

    &__excerpt {
      color: $dove-gray;
    }

    &__read-more {
      color: $faded-red;
      font-family: "Playfair Display";
      font-size: 22px;
      letter-spacing: -0.28px;
      text-align: right;
      text-decoration: none;
    }
  }
}

.post-list {
  &__load-more-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;

    &:hover {
      cursor: pointer;

      rect#Rectangle-Copy-2 {
        fill: $candy-pink;
      }
    }
  }
}
