.grid {
  display: grid;
  grid-auto-flow: column;

  &__hero {
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
  }

  &__navigation,
  &__navigation-mobile {
    grid-template-columns: 50% 50%;
    padding: 25px;
  }

  &__recent_blog_posts {
    grid-auto-flow: row;
    grid-template-areas: "title""items";
  }

  &__my_clients {
    grid-auto-flow: row;
  }

  &__books_i_read {
    grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
  }

  &__footer {
    grid-template-columns: 30%;
    bottom: 0;
  }

  &__post-caption,
  &__post-share-links {
    grid-template-columns: 50%;
  }
}
