.grid__post-caption {
  margin-bottom: 30px;
  .post-caption__tags {
    text-align: right;
  }
}

.grid__post-share-links {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  margin: 30px 0;
  padding: 20px 0;

  .post-share-label {
    align-self: center;
    color: $light-dove-gray;
    display: inline;

    img {
      height: 15px;
      margin: 5px;
      vertical-align: middle;
    }
  }

  .post-share-links {
    justify-self: end;
    a {
      text-decoration: none;
    }
  }
}

.post-container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 728px;
}

.post-image >  img {
  width: 100%;
}

.post-caption {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  color: $light-dove-gray;
  font-family: "Barlow";
  padding: 25px 0px;

  &__date {
    span {
      margin-left: 15px;
    }
  }

  &__tags {
    width: 100%;

    a {
      color: $faded-red;
      text-decoration: none;
      margin: 0 5px;

      &:before {
        content: "#";
      }
    }
  }
}

.post-content {
  font-family: "Barlow";
}

.highlight {
  background-color: $alabaster;
  margin: 50px 0;
  overflow-x: scroll;
  padding: 20px 30px;
}
