$alabaster: #FAFAFA;
$black: #121212;
$candy-pink: #E6757D;
$dove-gray: #6F6F6F;
$faded-red: #FF7B7A;
$gray: #505050;
$hint-of-red: #F9F9F9;
$iron: #CCCCCC;
$light-dove-gray: #727272;
$light-gray: #D2D2D2;
