<a href="mailto:tsara.tf@gmail.com">
  <svg class="get-in-touch-button" width="194px" height="74px" viewBox="0 0 194 74" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Tsara-landingpage" transform="translate(-133.000000, -586.000000)">
        <g id="Header" transform="translate(94.000000, 77.000000)">
          <g id="button" transform="translate(39.000000, 509.000000)">
            <rect id="Rectangle" fill="#A7A7A7" opacity="0.4" x="4" y="4" width="190" height="70"></rect>
            <rect id="Rectangle-Copy-2" fill="#FF8088" x="0" y="0" width="190" height="70"></rect>
            <text id="Lets-Talk’s" font-family="Helvetica" font-size="17" font-weight="normal" fill="#FFFFFF">
              <tspan x="50" y="40">LET'S TALK</tspan>
            </text>
          </g>
        </g>
      </g>
    </g>
  </svg>
</a>
