<nav class="navigation grid grid__navigation">
  <div class="navigation navigation__logo">
    Tsara Fatma
  </div>
  <div class="navigation navigation__links">
    <a href="#about-me" class="active">About Me</a>
    <a href="#about-me">Blog</a>
    <a href="#about-me">Clients</a>
    <a href="#about-me">Books I Read</a>
  </div>
</nav>
<nav class="navigation grid grid__navigation-mobile">
  <div class="navigation navigation__logo">
    Tsara Fatma
  </div>
  <div class="navigation navigation__links">
    <a href="#">
      <img src="/assets/images/icons/hamburger.svg" height="75" />
    </a>
  </div>
</nav>
