<nav class="navigation grid grid__navigation">
  <div class="navigation navigation__logo">
    <a href="/">Tsara Fatma</a>
  </div>
  <div class="navigation navigation__links">
    {% assign current_segment = (page.url | split:'/') %}
    {% if current_segment[1] == nil %}
    <a href="#" class="active">About Me</a>
    {% else %}
    <a href="/">About Me</a>
    {% endif %}
    {% if current_segment[1] == 'blog.html' %}
    <a href="#" class="active">Blog</a>
    {% else %}
    <a href="/blog">Blog</a>
    {% endif %}
  </div>
</nav>
<nav class="navigation grid grid__navigation-mobile">
  <div class="navigation navigation__logo">
    Tsara Fatma
  </div>
  <div class="navigation navigation__links">
    <a href="#">
      <img src="/assets/images/icons/hamburger.svg" height="75" />
    </a>
  </div>
</nav>
