<!DOCTYPE html>
<html>

<head>
  <title>Blog - Tsara's Blog</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/default.css">
  <meta name="description" content="List of posts that Tsara is written." />
  <meta name="viewport" content="width=device-width">
</head>

<body>
  {% include components/navigation.html %}
  <main>
    <div class="post-list-container"></div>
  </main>
  {% include footer.html %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/assets/javascripts/blog.js"></script>
</body>

</html>
