<!DOCTYPE html>
<html>

<head>
  <title>Tsara Sudrajat - Personal Website - Ruby on Rails Developer</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/default.css">
  <meta name="viewport" content="width=device-width">
</head>

<body>
  {% include header.html %}
  {% include hamburger_menu_lists.html %}
  <main>
    {% include recent_blog_posts.html %}
    {% include my_clients.html %}
    {% include books_i_read.html %}
  </main>
  {% include footer.html %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/assets/javascripts/hamburger.js"></script>
</body>

</html>
