<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/default.css">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  {% include header.html %}
  <main>
    {% include recent_blog_posts.html %}
    {% include my_clients.html %}
    {% include books_i_read.html %}
  </main>
  {% include footer.html %}
</body>
</html>
