.books-i-read {
  margin-top: 65px;
  margin-bottom: 250px;
  padding-bottom: 40px;

  &__image-of-me {
    position: relative;

    img {
      margin-left: 95px;
      padding-bottom: 10px;
      width: fit-content;
    }
  }

  &__image-shadow {
    background: $hint-of-red;
    bottom: 30px;
    height: 510px;
    left: 200px;
    position: absolute;
    top: 150px;
    width: 575px;
    z-index: -1;
  }

  &__content {
    background-image: url('/assets/images/icons/dots.svg');
    background-repeat: no-repeat;
    background-position-y: 350px;
  }

  &__content h2 {
    border-bottom: 2px solid #D2D2D2;
    padding-bottom: 10px;
    padding-left: 95px;
    width: fit-content;
  }

  &__content ul {
    padding-left: 150px;
    line-height: 30px
  }
}
