.my-clients {
  margin-top: 65px;
  margin-bottom: 250px;
  padding-bottom: 40px;

  h2 {
    border-bottom: 2px solid $light-gray;
    padding-bottom: 10px;
    padding-left: 95px;
    width: fit-content;
  }
}

.grid {
  &__list-clients {
    grid-auto-flow: dense;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill,  minmax(270px, 1fr));
    justify-items: center;
    margin-top: 75px;
    padding: 0 95px;

    img {
      height: 50px;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
}


